/* Root section code start here */
:root{
    --primaryColor: #4E47FF;
    --secondColor: rgba(37, 36, 50, 1)
    --backgroundBg: rgba(245, 248, 255, 1);
    --userBg: rgba(78, 71, 255, 0.1);
}
/* Root section code start here */
/* Reset Code Start Here */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset Code End Here */
body{
    font-family: Raleway;
    background: rgba(245, 248, 255, 1);
}
header{
    height: 100vh;
    background-image: url("/Assets/Hero-bg.png");
}
/* Header Section Code Start Here */
.header-container{
    
}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primaryColor);
    margin-top: 20px;
}
nav h3{
    font-size: 25px;
    font-family: Inter;
}
nav button{
    background-color: var(--primaryColor);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
.hero-container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}
.hero-container h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 25vh;
}
.hero-container button{
    background-color: var(--primaryColor);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
/* Header Section Code Start Here */
/* See It in Action Section Code Start Here */
#action-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 30px;
}
.action-header{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 8px;
}
.action-para{
    font-size: 18px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 8px;
}
.action-btn{
    background-color: var(--primaryColor);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 35px;
}
/* See It in Action Section Code End Here */
/* Productive Users Section Code Start Here */
#productive-users-container{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 35px 35px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 15px;
}
#productive-users-container h4{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 35px;
}
.user-count-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-count-div span{
    color: var(--primaryColor);
    font-weight: bold;
    font-family: Inter;
    font-size: 70px;
    margin-bottom: 8px;
}
.user-count-div p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
}
/* Productive Users Section Code End Here */
/* Users Say section code start here */
#users-say-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#users-say-container h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.user-card-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.user-card{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(242, 237, 237, 1);
    border-radius: 10px;
    padding: 24px;
}
.user-card h5{
    font-size: 24px;
    font-weight: 600;
    font-family: Inter;
    margin-top: 24px;
    margin-bottom: 10px;
}
#stars-icon-parent i{
    color: rgba(255, 184, 5, 1);
}
.user-profile-child{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
}
.user-profile div img{
    width: 40px;
    height: 40%;
    border-radius: 50%;
    border: 2px solid rgba(242, 237, 237, 1);
}
/* Users Say section code end here */